<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Снимайте или сдавайте жилье без посредников. Все объявления в нашей базе проверены оператором. Экономьте на агентской комиссии и решайте жилищный вопрос быстро и надежно!"/>
    <title>Агнево - Недвижимость от собственников</title>
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">

    {% block link %}{% endblock %}

    <script language='javascript'>
        function SubmitForm(form_id) {
           var form=document.getElementById(form_id);
           form.submit();
        }
    </script>
    <style>
        body { padding-top: 60px; }
        .jumbotron { padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; background-color: #fff; }
        .jumbotron p { font-size: 16px; font-weight: 200; margin-bottom: 3px; }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: #dddddd;">
                    <nobr><span class="glyphicon glyphicon-home" style="margin-right: 5px;"></span>Агнево - Недвижимость от собственников</nobr>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                {% if user.is_authenticated %}
                <div class="navbar-right">
                    <div class="btn-group">
                        <a type="button" class="btn navbar-btn btn-default" href="{% url 'user' %}">+7{{ user.login }}</a>
                        {% if user.is_premium %}
                        <a type="button" class="btn navbar-btn btn-success" href="{% url 'user' %}">Премиум истекает {{ user.premium_to|date:"d-m-Y H:i" }}</a>
                        {% else %}
                        <a type="button" class="btn navbar-btn btn-default" href="/">Баллы: {{ user.points }}</a>
                        <a type="button" class="btn navbar-btn btn-success" href="{% url 'pay' %}">Активировать премиум</a>
                        {% endif %}
                    </div>
                    <a type="button" class="btn navbar-btn btn-primary" href="{% url 'logout' %}">Выйти</a>
                </div>
                {% else %}
                <form method="post" action="{% url 'login' %}" class="navbar-form navbar-right" role="form">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon">+7</span>
                        <input id="id_login" maxlength="10" name="login" type="text" placeholder="Телефон" class="form-control">
                    </div>
                    <div class="form-group">
                        <input id="id_password" name="password" type="password" placeholder="Пароль" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Вход</button>
                    <a type="button" class="btn btn-primary" href="{% url 'register' %}">Регистрация</a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    {% block page %}
    {% if True %}
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="col-md-3">
                <img src="{{ STATIC_URL }}images/logo_site_159x120.png">
            </div>
            <div class="col-md-9">
                <br>
                <p>Снимайте или сдавайте жилье без посредников. Все объявления в нашей базе проверены оператором. Экономьте на агентской комиссии и решайте жилищный вопрос быстро и надежно!</p>
                <br>
                <p>Есть вопросы? Задайте их прямо сейчас!</p>
                <p>Телефон: +7-937-089-55-00</p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="{{ menu_selected.search }}"><a href="{% url 'search' %}">Поиск</a></li>
            <li class="{{ menu_selected.submit }}"><a href="{% url 'submit' %}">Сдать</a></li>
        {% if False %}
            <li class="{{ menu_selected.about }}"><a href="{% url 'about' %}">О нас</a></li>
        {% endif %}
            <li class="{{ menu_selected.feedback }}"><a href="{% url 'feedback' %}">О проекте</a></li>
            <li class="{{ menu_selected.pay }}"><a href="{% url 'pay' %}">Оплата</a></li>
            <li class="{{ menu_selected.subscribe }}"><a href="{% url 'subscribe' %}">СМС подписка</a></li>
            {% if user.is_authenticated %}
            <li class="{{ menu_selected.user }}"><a href="{% url 'user' %}">Мои объявления</a></li>
            {% endif %}
            {% if is_discount %}
            <li class="{{ menu_selected.discount }}">
                <a href="{% url 'discount' %}" style="color: #DD0000;">Акция</a>
            </li>
            {% endif %}
        </ul>
        <br>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            {% block content %}{% endblock %}
            </div>
        </div>

        {% block custom_content %}{% endblock %}

    </div>
    {% endblock %}

    <div class="container">
        <p style="text-align: center;"> © 2015 "ИП БЫСТРОВ В.И."  Аренда недвижимости без посредников.
             <a href="{% url 'agreement' %}">Пользовательское соглашение.</a>
             <a href="http://vk.com/agnevo"><img height="24" src="{{ STATIC_URL }}images/social/VKontakte.png"/></a>
             <a href="http://ok.ru/group/52330037444829"><img height="24" src="{{ STATIC_URL }}images/social/Odnoklassniki.png"/></a>
        </p>
    </div>

    <script src="{{ STATIC_URL }}jquery/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    {% block script %}{% endblock %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56276017-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>