{% extends "base.html" %}

{% block content %}

{{ content.about.text | safe }}

<p>Использование сайта, в том числе подача объявлений, означает согласие с
<a href={% url 'agreement' %}>пользовательским соглашением</a>.
Оплачивая услуги на сайте, Вы принимаете <a href={% url 'offer' %}>оферту</a>.</p>

<h3>Форма обратной связи</h3>
<form action="." method="post" role="form" class="form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.name }}
    </div>
    <div class="form-group">
        {{ form.text }}
    </div>
    <button type="submit" class="btn btn-default">Отправить</button>
</form>

<br>

<p><b>Контактная информация:</b></p>
<p>Телефон: +79370895500</p>
<p>E-mail: agnevo.service@gmail.com</p>


<p><b>Юридическая информация:</b></p>
<p>- ИП Быстров Владимир Иванович</p>
<p>- Инн: 343200926630</p>
<p>- ОГРНИП: 314345624000017</p>

{% endblock %}