{% extends "base.html" %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="page-header">
                <h1>Вход</h1>
                Введите номер телефона и пароль, присланный в СМС
            </div>

            {% if form.errors and login %}
            <div class="alert alert-danger" role="alert">
                Неправильный логин или пароль, попробуйте еще раз
            </div>
            {% endif %}

            <form method="post" action="{% url 'login' %}" role="form">
                {% csrf_token %}
                <label for="id_login">Телефон</label>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">+7</span>
                        {{ form.login }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password">Пароль</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-default">Войти</button>
            </form>

            <br>
            <p>Забыли пароль или не пришло СМС?
            <a href={% url 'resend' %}?login={{ form.login.value }}>Запросить СМС с паролем повторно</a>
            </p>

        </div>
    </div>
</div>
{% endblock %}