{% extends "base.html" %}

{% block content %}
<div class="well">
Произведите оплату для того чтобы получить доступ к контактной информации и воспользоваться услугой СМС подписка
</div>

{% if user.is_authenticated %}
<table class="table table-hover">
    <tr>
        <td><script type="text/javascript" src="{{ robokassa_url_1 }}"></script></td>
        <td style="vertical-align: middle;">Доступ на 1 день</td>
        <td style="vertical-align: middle;">{{ robokassa_price_1 }} руб</td>
    </tr>
    <tr>
        <td><script type="text/javascript" src="{{ robokassa_url_3 }}"></script></td>
        <td style="vertical-align: middle;">Доступ на 3 дня</td>
        <td style="vertical-align: middle;">{{ robokassa_price_3 }} руб</td>
    </tr>
    <tr>
        <td><script type="text/javascript" src="{{ robokassa_url_7 }}"></script></td>
        <td style="vertical-align: middle;">Доступ на 7 дней</td>
        <td style="vertical-align: middle;">{{ robokassa_price_7 }} руб</td>
    </tr>
    <tr>
        <td><script type="text/javascript" src="{{ robokassa_url_30 }}"></script></td>
        <td style="vertical-align: middle;">Доступ на 1 месяц</td>
        <td style="vertical-align: middle;">{{ robokassa_price_30 }} руб</td>
    </tr>
</table>

<p>Использование сайта, в том числе подача объявлений, означает согласие с
<a href="{% url 'agreement' %}">пользовательским соглашением</a>.
Оплачивая услуги на сайте, Вы принимаете <a href="{% url 'offer' %}">оферту</a>.</p>

<p>Часть денежных средств перечисляется ВОЛГОГРАДСКОЙ РЕГИОНАЛЬНОЙ ОБЩЕСТВЕННОЙ ОРГАНИЗАЦИИ "ОБЪЕДИНЕНИЕ ВОЛОНТЕРОВ В ЗАЩИТУ ЖИВОТНЫХ "ОТКРОЙ СЕРДЦЕ"</p>

{% else %}
    <div class="alert alert-info" role="alert">
        Вы должны <a href="{% url 'register' %}" class="alert-link">зарегистрироваться</a>, чтобы получать СМС уведомления
    </div>
{% endif %}


{% if False %}
    <script type="text/javascript" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormFLS.js?MerchantLogin=demo&DefaultSum=10&InvoiceID=&Description=%d0%9f%d0%be%d0%bf%d0%be%d0%bb%d0%bd%d0%b5%d0%bd%d0%b8%d0%b5+%d1%81%d1%87%d0%b5%d1%82%d0%b0+ROBOKASSA&shpItem=2&Culture=ru&Encoding=utf-8&SignatureValue=151a3f772ea17f441bc7664323c5428b"></script>
{% endif %}

{% endblock %}