{% extends "base.html" %}

{% block content %}
<h3>Ошибка проведения оплаты</h3>
<div class="alert alert-warning" role="alert">К сожалению, возникли проблемы с оплатой. Попробуйте позже.</div>
{% endblock %}