{% extends "base.html" %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">

            <div class="page-header">
                <h1>Регистрация</h1>
                Введите номер сотового телефона, вам придет СМС с паролем. Регистрация бесплатная.
            </div>

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Ошибка регистрации. {{ error }}
            </div>
            {% endif %}

            <form method="post" action="{% url 'register' %}" role="form">
            {% csrf_token %}
                <div class="form-group">
                    <label for="id_login">Телефон</label>
                    <div class="input-group">
                        <span class="input-group-addon">+7</span>
                        {{ form.login }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_captcha_1">Текст с картинки</label>
                    <div class="input-group">
                        {{ form.captcha }}
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Регистрация</button>
            </form>
            <br>
            <p>Регистрируясь на сайте, вы соглашаетесь с условиями
            <a href={% url 'agreement' %}>пользовательского соглашения</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}