{% extends "base.html" %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">

            <div class="page-header">
                <h1>Повторный запрос пароля</h1>
                Введите номер телефона, чтобы получить новый пароль
            </div>

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Ошибка запроса пароля. Проверти правильность ввода телефона и текста с картинки, либо попробуйте повторить запрос через 5 минут
            </div>
            {% endif %}

            <form method="post" action="{% url 'resend' %}" role="form">
            {% csrf_token %}
                <div class="form-group">
                    <label for="id_login">Телефон</label>
                    <div class="input-group">
                        <span class="input-group-addon">+7</span>
                        {{ form.login }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_captcha_1">Текст с картинки</label>
                    <div class="input-group">
                        {{ form.captcha }}
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Выслать СМС</button>
            </form>

        </div>
    </div>
</div>
<br>
{% endblock %}