{% if realty.access_contact == 'no_auth' %}
    <a href="{% url 'login' %}">Показать телефон</a>
{% elif realty.access_contact == 'premium' %}
    {{ realty.contact }}
{% elif realty.access_contact == 'revelation' %}
    {{ realty.contact }} (по баллам)
{% elif realty.access_contact == 'points' %}
    <a href="#" onclick="SubmitForm('revelation_{{ realty.id }}')">Показать телефон (потратить балл)</a>
    <form id="revelation_{{ realty.id }}" method="post" action={% url 'revelation' %}>
    {% csrf_token %}
    <input type='hidden' name='return_path' value='{{ cur_path }}' />
    <input type='hidden' name='realty_id' value='{{ realty.id }}' />
    </form>
{% else %}
    <a href="{% url 'pay' %}">Получить доступ</a>
{% endif %}