{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}blueimp/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock %}

{% block content %}

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="alert alert-success" role="alert"><b>Цена: {{ realty.price }}</b></div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-success" role="alert"><b>Контакты: {% include "realty/contact.html" %}</b></div>
    </div>
</div>

<table class="table table-hover">
    <tr>
        <td>Тип</td>
        <td>
            {{ realty.kind_display }}, этаж {{ realty.floor }} из {{ realty.storeys }},
            {% if realty.is_furniture_display %}с мебелью{% else %}без мебели{% endif %},
            {% if realty.duration == 'long' %}на длительный срок{% else %}посуточно{% endif %}
        </td>
    </tr>
    <tr>
        <td>Адрес</td>
        <td>
            {{ realty.city.name }}, {{ realty.district.short_name }} район,
            {% if realty.sub_district %}{{ realty.sub_district }}, {% endif %}
            {{ realty.address }}
        </td>
    </tr>
    <tr>
        <td>Описание</td>
        <td> {{ realty.description }}</td>
    </tr>
</table>

<div id="links">
    {%  for image in images %}
    <a href="{{ image }}" title="Просмотр" data-gallery>
        <img src="{{ image }}" alt="Картинка" width="120" height="100">
    </a>
    {% endfor %}
</div>

<br>

{% if realty.lat and realty.lon %}
<div id="map" style="width: 600px; height: 400px"></div>
{% endif %}
<br>

{% endblock %}

{% block script %}
    {% if realty.lat and realty.lon %}
    <script src="{{ STATIC_URL }}blueimp/jquery.blueimp-gallery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-image-gallery.min.js"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
    ymaps.ready(init);
    var map, placemark;

    function init(){
        map = new ymaps.Map ("map", {
            center: [{{ realty.lat_display }}, {{ realty.lon_display }}],
            zoom: 17
        });

        placemark = new ymaps.Placemark(
            [{{ realty.lat_display }}, {{ realty.lon_display }}],
            {
                content: '{{ realty.address }}',
                //balloonContent: '{{ realty.address }}'
            },
            {
                preset: 'islands#icon',
                iconColor: '#0095b6'
            }
        );

        map.geoObjects.add(placemark);
    }
    </script>
    {% endif %}
{%  endblock %}