{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock %}

{% block custom_content %}

{% if not user.is_authenticated %}
    <div class="alert alert-info" role="alert">
        Для просмотра контактов собственника и подключения услуги СМС подписка необходимо <a href="{% url 'register' %}" class="alert-link">зарегистрироваться</a>
    </div>
{% endif %}

    <form action="{% url 'search' %}" method="post" role="form" class="form-inline">
        {% csrf_token %}
                {% if False %}{{ form.city }}{% endif %}
                {{ form.city }}
                {{ form.district }}
                {{ form.kind }}
                {{ form.is_furniture }}
                {{ form.price_from }}
                {{ form.price_to }}
                {{ form.duration }}
        <button type="submit" name="search" class="btn btn-success">Поиск</button>
        {% if user.is_authenticated %}
            {% if is_favourite %}
                <a href="{% url 'favourite' %}" class="btn btn-primary active">Показать все</a>
            {% else %}
                <a href="{% url 'favourite' %}" class="btn btn-primary">Показать избранное</a>
            {% endif %}
        {% endif %}
        <br>{{ form.is_photo }} Только с фото
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr class="table-head">
                <th>Проверено</th>
                <th>Район</th>
                <th>Адрес</th>
                <th>Тип</th>
                <th>Мебель</th>
                <th>Цена</th>
                <th>Контакты</th>
                {% if user.is_authenticated %}
                <th><span class="glyphicon glyphicon-th"></span></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for realty in realties %}
            <tr class="table-content">
                <td><a class="link-content" href="{% url 'realty' realty.id %}">{{ realty.check_date|date:"d N Y" }}</a></td>
                <td><a class="link-content" href="{% url 'realty' realty.id %}">{{ realty.district.short_name }}</a></td>
                <td><a class="link-content" href="{% url 'realty' realty.id %}">{{ realty.sub_district }} {{ realty.address }}</a></td>
                <td>{{ realty.kind_display }}</td>
                <td>{{ realty.is_furniture|yesno:"Да,Нет," }}</td>
                <td>{{ realty.price }}{% if realty.duration == 'long' %} в мес.{% else %} в сут.{% endif %}</td>
                <td>{% include "realty/contact.html" %}</td>
            {% if user.is_authenticated %}
                {% if not realty.is_favourite %}
                    <td><a href="{% url 'user_realty_favourite' realty.id %}" title="Добавить в избранное"><span class="glyphicon glyphicon-star-empty"></span></a></td>
                {% else %}
                    <td><a href="{% url 'user_realty_favourite' realty.id %}" title="Убрать из избранного"><span class="glyphicon glyphicon-star"></span></a></td>
                {% endif %}
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    {% if is_paginated %}
    <ul class="pagination">
        <li><a href="?page=1">&laquo;</a></li>
        {% for page in paginator.page_range %}
            {% if page_obj.number == page %}
                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
            {%  else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="?page={{ paginator.num_pages }}">&raquo;</a></li>
    </ul>
    {% endif %}

{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-multiselect.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_district').multiselect({
            numberDisplayed: 2,
            nonSelectedText: "районы...",
            includeSelectAllOption: true,
            selectAllText: 'Все районы',
            nSelectedText: 'Выбрано: ',

            buttonText: function(options, select) {
                if (options.length == 0) {
                    return this.nonSelectedText + ' <b class="caret"></b>';
                }
                else {
                    if (options.length > this.numberDisplayed) {
                        return this.nSelectedText + ' ' + options.length + ' <b class="caret"></b>';
                    }
                    else {
                        var selected = '';
                        options.each(function() {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();
                            selected += label + ', ';
                        });
                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            }
        });
    });

    $(document).ready(function() {
        $('#id_kind').multiselect({
            numberDisplayed: 2,
            nonSelectedText: "тип...",
            includeSelectAllOption: true,
            selectAllText: 'Все типы',
            nSelectedText: 'Выбрано вариантов: ',

            buttonText: function(options, select) {
                if (options.length == 0) {
                    return this.nonSelectedText + ' <b class="caret"></b>';
                }
                else {
                    if (options.length > this.numberDisplayed) {
                        return this.nSelectedText + ' ' + options.length + ' <b class="caret"></b>';
                    }
                    else {
                        var selected = '';
                        options.each(function() {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();
                            selected += label + ', ';
                        });
                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            }
        });
    });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            function modify_district() {
                var city = $('#id_city');
                var district = $('#id_district');
                var district_data = {{ district_data|safe }};
                district.empty().append(district_data[city.val()]);
                district.multiselect('rebuild');

                if (district_data[city.val()]) {
                    district.multiselect('enable');
                } else {
                    district.multiselect('disable');
                }
            }

            $("#id_city").change(modify_district);
            modify_district();
        });
    </script>
{% endblock %}

