{% extends "base.html" %}

{% block content %}
<div class="well">Ваша заявка принята, после проверки модератором она появится в списке объявлений</div>
<p><a href="{% url 'submit' %}" class="btn btn-default">Подать еще объявление</a></p>
{% endblock %}