{% extends "base.html" %}

{% block content %}

<div class="well">
<h3>УВАЖАЕМЫЕ СОБСТВЕННИКИ ЖИЛЬЯ!</h3>
Заполните приведенную ниже форму чтобы сдать квартиру или прочие объекты недвижимости. После  проверки  оператором ваше объявление появится в разделе "Поиск".  Представителям агентств недвижимости или частным риелторам – просьба не утруждаться!
</div>

{% if user.is_authenticated %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">Ошибка заполнения формы, проверьте правильность заполнения всех полей и повторите попытку</div>
{% endif %}

<form enctype="multipart/form-data" action="{% url 'submit' %}" method="post" role="form" class="form-horizontal">
    {% csrf_token %}

    {% if form.city.errors %}
    <div class="alert alert-danger" role="alert">{{ form.city.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_city" class="col-sm-2 control-label">Город</label>
        <div class="col-sm-6">
        {{ form.city }}
        </div>
    </div>

    {% if form.district.errors %}
    <div class="alert alert-danger" role="alert">{{ form.district.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_district" class="col-sm-2 control-label">Район</label>
        <div class="col-sm-6">
        {{ form.district }}
        </div>
    </div>

    {% if form.sub_district.errors %}
    <div class="alert alert-danger" role="alert">{{ form.sub_district.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_sub_district" class="col-sm-2 control-label">Поселок или микрорайон</label>
        <div class="col-sm-6">
        {{ form.sub_district }}
        </div>
    </div>

    {% if form.street.errors %}
    <div class="alert alert-danger" role="alert">{{ form.street.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_street" class="col-sm-2 control-label">Улица</label>
        <div class="col-sm-6">
        {{ form.street }}
        </div>
    </div>

    {% if form.house.errors %}
    <div class="alert alert-danger" role="alert">{{ form.house.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_house" class="col-sm-2 control-label">Дом</label>
        <div class="col-sm-6">
        {{ form.house }}
        </div>
    </div>

    {% if form.duration.errors %}
    <div class="alert alert-danger" role="alert">{{ form.duration.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_contact" class="col-sm-2 control-label">Длительность</label>
        <div class="col-sm-6">
        {{ form.duration }}
        </div>
    </div>

    {% if form.price.errors %}
    <div class="alert alert-danger" role="alert">{{ form.price.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_price" class="col-sm-2 control-label">Цена</label>
        <div class="col-sm-6">
        {{ form.price }}
        </div>
    </div>

    {% if form.contact.errors %}
    <div class="alert alert-danger" role="alert">{{ form.contact.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_contact" class="col-sm-2 control-label">Контакты</label>
        <div class="col-sm-6">
        {{ form.contact }}
        </div>
    </div>

    {% if form.kind.errors %}
    <div class="alert alert-danger" role="alert">{{ form.kind.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_contact" class="col-sm-2 control-label">Тип</label>
        <div class="col-sm-6">
        {{ form.kind }}
        </div>
    </div>

    {% if form.is_furniture.errors %}
    <div class="alert alert-danger" role="alert">{{ form.is_furniture.errors }}</div>
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
                <div class="checkbox">
                <label>
                    {{ form.is_furniture }} Есть ли мебель
                </label>
            </div>
        </div>
    </div>

    {% if form.floor.errors %}
    <div class="alert alert-danger" role="alert">{{ form.floor.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_contact" class="col-sm-2 control-label">Этаж</label>
        <div class="col-sm-2">
        {{ form.floor }}
        </div>
        <label for="id_contact" class="col-sm-2 control-label">Всего этажей</label>
        <div class="col-sm-2">
        {{ form.storeys }}
        </div>

    </div>

    {% if form.description.errors %}
    <div class="alert alert-danger" role="alert">{{ form.description.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_contact" class="col-sm-2 control-label">Описание</label>
        <div class="col-sm-6">
        {{ form.description }}
        </div>
    </div>

    {% if form.image1.errors %}
    <div class="alert alert-danger" role="alert">{{ form.image1.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_contact" class="col-sm-2 control-label">Изображение</label>
        <div class="col-sm-6">
        {{ form.image1 }}
        </div>
    </div>

    {% if form.image2.errors %}
    <div class="alert alert-danger" role="alert">{{ form.image2.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_contact" class="col-sm-2 control-label">Изображение</label>
        <div class="col-sm-6">
        {{ form.image2 }}
        </div>
    </div>

    {% if form.image3.errors %}
    <div class="alert alert-danger" role="alert">{{ form.image3.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_contact" class="col-sm-2 control-label">Изображение</label>
        <div class="col-sm-6">
        {{ form.image3 }}
        </div>
    </div>


    {% if form.captcha.errors %}
    <div class="alert alert-danger" role="alert">{{ form.captcha.errors }}</div>
    {% endif %}
    <div class="form-group">
        <label for="id_captcha_1" class="col-sm-2 control-label">Текст с картинки</label>
        <div class="input-group col-sm-6">
            {{ form.captcha }}
        </div>
    </div>

    <input type="hidden" value="0" name="lon">
    <input type="hidden" value="0" name="lat">

    <br>

    <button type="submit" class="btn btn-default">Отправить на рассмотрение</button>
</form>

{% else %}
    <div class="alert alert-info" role="alert">
        Вы должны <a href="{% url 'register' %}" class="alert-link">зарегистрироваться</a>, чтобы подать объявление
    </div>
{% endif %}

<br>
{% endblock %}

{% block script %}
<script type="text/javascript">

    function modify_district() {
        var city = $('#id_city');
        var district = $('#id_district');
        var district_data = {{ district_data|safe }};
        district.empty().append(district_data[city.val()]);
    }

    $( "#id_city" ).change(modify_district);
    modify_district();

</script>
{% endblock %}