{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock %}

{% block content %}
<div class="well">
СМС подписка – это услуга, позволяющая арендатору получать информацию о появлении подходящего объявления. Для подключения услуги  необходимо указать параметры в соответствии с которыми вам на телефон будут приходить СМС сообщения
</div>

{% if False and not user.is_premium %}
<div class="alert alert-warning" role="alert">
  Для получения уведомлений необходимо <a href="{% url 'pay' %}" class="alert-link">оплатить услугу</a>
</div>
{% endif %}

{% if alert == 'subscribe' %}
{% if user.is_premium %}
<div class="alert alert-info fade in" role="alert">
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <strong></strong>
    Вы успешно подписаны на рассылку СМС!
</div>
{% else %}
<div class="alert alert-warning fade in" role="alert">
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <strong>Внимание! Для получения СМС необходимо <a href="{% url 'pay' %}" class="alert-link">оплатить услугу</a></strong>
</div>
{% endif %}
{% endif %}

{% if alert == 'delete_subscribe' %}
<div class="alert alert-info fade in" role="alert">
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <strong></strong>
    СМС подписка успешно удалена!
</div>
{% endif %}

{% if user.is_authenticated %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Текущая СМС подписка</h3>
        </div>
        <div class="panel-body">
        {% if not subscribe %}
            <p><b>Вы не подписаны на СМС рассылку объявлений</b></p>
        {% else %}
            <p><b>Вы подписаны на СМС рассылку объявлений, параметры подписки:</b></p>
            <ul>
            {% if subscribe.is_all %}
                <li>Все новые объявления</li>
            {% endif %}
            {% if subscribe.city %}
                <li>Город: {{ subscribe.city }}</li>
            {% endif %}
            {% if subscribe.district %}
                <li>Районы: {{ subscribe.district }}</li>
            {% endif %}
            {% if subscribe.kind %}
                <li>Тип жилья: {{ subscribe.kind }}</li>
            {% endif %}
            {% if subscribe.price_from %}
                <li>Цена от: {{ subscribe.price_from }}</li>
            {% endif %}
            {% if subscribe.price_to %}
                <li>Цена до: {{ subscribe.price_to }}</li>
            {% endif %}
            {% if subscribe.furniture %}
                <li>Мебель: {{ subscribe.furniture }}</li>
            {% endif %}
            {% if subscribe.duration %}
                <li>Длительность: {{ subscribe.duration }}</li>
            {% endif %}
            </ul>

            <form action="{% url 'subscribe_delete' %}" method="post" role="form" class="form-inline">
                {% csrf_token %}
                <button type="submit" name="subscribe" class="btn btn-warning" style="margin-top-: 3px;">Удалить подписку</button>
            </form>
            <br>
        {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Параметры СМС подписки</h3>
        </div>
        <div class="panel-body">
        <p>Выберите параметры подписки:</p>
        <form action="{% url 'subscribe' %}" method="post" role="form" class="form-inline">
            {% csrf_token %}
                    {{ form.city }}
                    {{ form.district }}
                    {{ form.kind }}
                    {{ form.is_furniture }}
                    {{ form.price_from }}
                    {{ form.price_to }}
                    {{ form.duration }}
            <button type="submit" name="subscribe" class="btn btn-success" style="margin-top: 3px;">Применить</button>
        </form>
        </div>
    </div>

{% else %}
    <div class="alert alert-info" role="alert">
        Вы должны <a href="{% url 'register' %}" class="alert-link">зарегистрироваться</a>, чтобы получать СМС уведомления
    </div>
{% endif %}

{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-multiselect.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_district').multiselect({
            numberDisplayed: 2,
            nonSelectedText: "районы...",
            includeSelectAllOption: true,
            selectAllText: 'Все районы',
            nSelectedText: 'Выбрано: ',

            buttonText: function(options, select) {
                if (options.length == 0) {
                    return this.nonSelectedText + ' <b class="caret"></b>';
                }
                else {
                    if (options.length > this.numberDisplayed) {
                        return this.nSelectedText + ' ' + options.length + ' <b class="caret"></b>';
                    }
                    else {
                        var selected = '';
                        options.each(function() {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();
                            selected += label + ', ';
                        });
                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            }
        });
    });

    $(document).ready(function() {
        $('#id_kind').multiselect({
            numberDisplayed: 2,
            nonSelectedText: "тип...",
            includeSelectAllOption: true,
            selectAllText: 'Все типы',
            nSelectedText: 'Выбрано вариантов: ',

            buttonText: function(options, select) {
                if (options.length == 0) {
                    return this.nonSelectedText + ' <b class="caret"></b>';
                }
                else {
                    if (options.length > this.numberDisplayed) {
                        return this.nSelectedText + ' ' + options.length + ' <b class="caret"></b>';
                    }
                    else {
                        var selected = '';
                        options.each(function() {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();
                            selected += label + ', ';
                        });
                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            }
        });
    });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            function modify_district() {
                var city = $('#id_city');
                var district = $('#id_district');
                var district_data = {{ district_data|safe }};
                district.empty().append(district_data[city.val()]);
                district.multiselect('rebuild');

                if (district_data[city.val()]) {
                    district.multiselect('enable');
                } else {
                    district.multiselect('disable');
                }
            }

            $("#id_city").change(modify_district);
            modify_district();
        });
    </script>
{% endblock %}