{% extends "base.html" %}

{% block content %}
<div class="alert alert-warning" role="alert">
    Удалить объявление "{{ object.city.name }}, {{ object.street }} {{ object.house }}"?
</div>
<form action="" method="post" role="form">{% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a class="btn btn-default" href="{% url 'user' %}">Отмена</a>
</form>
{% endblock %}