{% extends "base.html" %}

{% block content %}

<div class="well">Здесь вы можете управлять своими объявлениями</div>

{% if realties %}
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr class="table-head">
            <th></th>
            <th>Подтверждение</th>
            <th>Город</th>
            <th>Адрес</th>
            <th>Тип</th>
            <th>Цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for realty in realties %}
        <tr class="table-content">
        {% if realty.is_show %}
            <td><a href="{% url 'user_realty_hide' realty.id %}" title="Скрыть объявление"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        {% else %}
            <td><a href="{% url 'user_realty_show' realty.id %}" title="Показать объявление"><span class="glyphicon glyphicon-eye-close"></span></a></td>
        {% endif %}

            <td>
                {% if realty.is_publish %}{{ realty.publish_date|date:"d N Y" }}{% else %}Ожидается{% endif %}
            </td>
            <td><a class="link-content" href="{% url 'realty' realty.id %}">{{ realty.city.name }}</a></td>
            <td><a class="link-content" href="{% url 'realty' realty.id %}">{{ realty.sub_district }} {{ realty.address }}</a></td>
            <td>{{ realty.kind_display }}</td>
            <td>{{ realty.price }}{% if realty.duration == 'long' %} в мес.{% else %} в сут.{% endif %}</td>
            <td><a href="{% url 'user_realty_delete' realty.id %}" title="Удалить объявление"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% else %}
    <p>У вас нет объявлений. <a href="{% url 'submit' %}">Сдать недвижимость</a></p>
{% endif %}

{% if is_paginated %}
<ul class="pagination">
    <li><a href="?page=1">&laquo;</a></li>
    {% for page in paginator.page_range %}
        {% if page_obj.number == page %}
            <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
        {%  else %}
            <li><a href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    <li><a href="?page={{ paginator.num_pages }}">&raquo;</a></li>
</ul>
{% endif %}

{% endblock %}

