{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools %}
{% endblock %}

{% block after_related_objects %}
<div id="map" style="width: 600px; height: 400px"></div>
<div id="goto"><p><a href="#" onclick="goVolgograd(); return false;">В Волгоград</a></p></div>

<script type="text/javascript">
ymaps.ready(init);
var map, placemark, marker;
var lat = document.getElementById('id_lat');
var lon = document.getElementById('id_lon');

function init(){
    map = new ymaps.Map ("map", {
        center: [lat.value, lon.value],
        zoom: 17
    });

    marker = new ymaps.GeoObject({
        geometry: {
            type: "Point",
            coordinates: [lat.value, lon.value]
        },
        properties: {
            iconContent: 'Укажите дом',
            hintContent: 'Перетащите элемент'
        }
    },
    {
        preset: 'islands#blackStretchyIcon',
        draggable: true
    });

    marker.events.add('dragend', function (e) {
        var target = e.get('target');
        var coords = target.geometry.getCoordinates();
        lat.value = coords[0];
        lon.value = coords[1];
        //alert(coords.join(', '));
    });

    map.events.add('click', function (e) {
        var coords = e.get('coords');
        marker.geometry.setCoordinates([coords[0].toPrecision(6), coords[1].toPrecision(6)]);
        lat.value = coords[0].toPrecision(6);
        lon.value = coords[1].toPrecision(6);
        //alert(coords.join(', '));
    });

    map.geoObjects.add(marker);
}

function goVolgograd() {
    map.setCenter([48.710352268424195, 44.51955409023755], 10);
}

</script>

{% endblock %}